@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;500&family=Merriweather&display=swap");
body {
  margin: 0px;
  padding: 0px;
}

.ql-font-roboto {
  font-family: "Jost", sans-serif !important ;
}
